<h1 class="font-bold text-6xl">articles.</h1>
<ul class="w-96">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>
<section>
  <%= link_to "New Article", new_article_path, class: "py-2 px-4 rounded-full text-white bg-green-500 hover:bg-green-600" %>
</section>
